hg+https://bitbucket.org/wkornewald/django-nonrel
-e git://github.com/earle/django-bootstrap.git@24d3182fb71172f3020783beb5f34e82ebd11c45#egg=bootstrap-dev
distribute==0.6.24
django-bootstrapped==0.1.1-dev
django-mongodb-engine==0.4.0
django-picklefield==0.2.0
djangotoolbox==0.9.2
gunicorn==0.13.4
poster==0.8.1
psycopg2==2.4.4
pymongo==2.1.1
wsgiref==0.1.2
xlwt==0.7.3
