<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Tim Shi">

  <!-- Facebook Open Graph Tags -->
  <meta property="og:title" content="DH Data Downloader" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://dhdatadownloader.herokuapp.com" />
  <meta property="og:image" content="http://i.imgur.com/rG1Or.png" />
  <meta property="og:site_name" content="DH Data Downloader" />
  <meta property="fb:admins" content="1063320196" />
  <!-- <link rel="stylesheet" href="style.css" /> -->
  <title>{% block title %}Designing Happiness Data Download{% endblock %}</title>
  {% load bootstrap %}
  {% bootstrap_css %}
  <style type="text/css">
  body {
    padding-top: 60px;
    padding-bottom: 40px;
  }
  </style>
  <link href="/static/bootstrap-responsive.css" rel="stylesheet">
  {% block head %}{% endblock %}
</head>

<body>


  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">DH Data Downloader</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="http://www.stanford.edu/class/mktg355/">MKTG 355</a></li>
            {%block navbar %}{% endblock %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>




  {%block content %}{% endblock %}

  <!-- Facebook -->
  <div id="fb-root"></div>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '171752956231417',
      status     : true, 
      cookie     : true,
      xfbml      : true,
      oauth      : true,
    });
    {% block fbinit %}{% endblock %}
  };

  (function(d){
   var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
   js = d.createElement('script'); js.id = id; js.async = true;
   js.src = "//connect.facebook.net/en_US/all.js";
   d.getElementsByTagName('head')[0].appendChild(js);
 }(document));
  </script>

  <!-- Google Analytics -->
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29443463-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  </script>



<!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- <script src="../assets/js/jquery.js"></script>
  // <script src="../assets/js/bootstrap-transition.js"></script>
  // <script src="../assets/js/bootstrap-alert.js"></script>
  // <script src="../assets/js/bootstrap-modal.js"></script>
  // <script src="../assets/js/bootstrap-dropdown.js"></script>
  // <script src="../assets/js/bootstrap-scrollspy.js"></script>
  // <script src="../assets/js/bootstrap-tab.js"></script>
  // <script src="../assets/js/bootstrap-tooltip.js"></script>
  // <script src="../assets/js/bootstrap-popover.js"></script>
  // <script src="../assets/js/bootstrap-button.js"></script>
  // <script src="../assets/js/bootstrap-collapse.js"></script>
  // <script src="../assets/js/bootstrap-carousel.js"></script>
  // <script src="../assets/js/bootstrap-typeahead.js"></script> -->

  <script src="/static/bootstrap.js"></script>

</body>
</html>

