{% extends "templates/base.html" %}

{%block head %}
<script type="text/javascript">
(function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();
</script>
<!-- Update your html tag to include the itemscope and itemtype attributes -->
<html itemscope itemtype="http://schema.org/Product">

<!-- Add the following three tags inside head -->
<meta itemprop="name" content="DH Data Downloader">
<meta itemprop="description" content="Download the DH App Data">
<meta itemprop="image" content="http://i.imgur.com/rG1Or.png">
{% endblock %}

{% block navbar %}
{% if loggedIn %}
<li><a href="/logout">Logout</a></li>
{% else %}
<li><a href="/login">Login</a></li>
{% endif %}
{% endblock %}

{% block content %}



<div class="container">

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<h1>Welcome to the DH Data Downloader!</h1>
		{% if loggedIn %}
		<p>Please select download options from the choices below.</p>
		<p>
			<a class="btn btn-primary btn-large" href="/download/downloadFile?limit=1000&amp;personal=false">Download Full &raquo;</a>
			<a class="btn btn-primary btn-large" href="/download/downloadFile?limit=1000&amp;personal=true">Download Personal &raquo;</a>
		</p>
		{% else %}
		<p>From here you'll be able to download an excel spreadsheet of the data collected from the DH app. Please log in to continue.<br />Note: Downloading the full data will take quite some time ( > 5 minutes).</p>
		<p><a class="btn btn-primary btn-large" href="/login">Log in &raquo;</a></p>
		{% endif %}
	</div>
	<div class="row">
		<div class="g-plusone" data-size="medium" data-annotation="inline" data-href="http://dhdatadownloader.herokuapp.com"></div>
	</div>
	<div class="row">
		<div class="fb-like" data-href="http://dhdatadownloader.herokuapp.com" data-send="true" data-width="450" data-show-faces="true"></div>
	</div>

</div>


{% endblock %}