{% extends "templates/base.html" %}

{% block navbar %}
{% if loggedIn %}
<li><a href="/logout">Logout</a></li>
{% else %}
<li><a href="/login">Login</a></li>
{% endif %}
{% endblock %}

{% block content %}



<div class="container">

	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<h1>Welcome to the DH Data Downloader!</h1>
		<p>From here you'll be able to download an excel spreadsheet of the data collected from the DH app. Please log in to continue.</p>
		{% if loggedIn %}
		<p><a class="btn btn-primary btn-large" href="/download/downloadFile">Download &raquo;</a></p>
		{% else %}
		<p><a class="btn btn-primary btn-large" href="/login">Log in &raquo;</a></p>
		{% endif %}
	</div>
</div>


{% endblock %}