{% extends "templates/base.html" %}

{% block fbinit %}
<!-- FB.Event.subscribe('auth.login', function(response) {
	alert('logged in');
		var myForm = document.createElement("form");
		myForm.method="post" ;
		myForm.action = "/" ;
		p = {user:'peter',cc:'aus'};
		for (var k in p) {
			var myInput = document.createElement("input") ;
			myInput.setAttribute("name", k) ;
			myInput.setAttribute("value", p[k]);
			myForm.appendChild(myInput) ;
		}
		document.body.appendChild(myForm) ;
		myForm.submit() ;
		document.body.removeChild(myForm) ;

}); -->
{% endblock %}

{% block content %}




<div class="row-fluid">
	<div class="span12">
		<div class="row-fluid">
			<div class="span4"></div>
			<div class="span4">
				{% if login_failed %}
				<div class="alert alert-error">
					<p>Oops, looks like your username or password is incorrect.<br /> Please try again.</p>

				</div>
				{% endif %}
				<form action="/login/" method="post" class="form-horizontal">
					{% csrf_token %}
					{{ form }}
					<div class="form-actions">
						<button type="submit" class="btn btn-primary">Login</button>
					</div>
				</form>
				<!-- <div class="fb-login-button"></div> -->
			</div>
		</div>
	</div>
</div>
</div>




{% endblock %}